body{
    margin:0;
  }
  h1{
    margin-top: 0;
  }
  div{
    background-color: #B9E9FC;
  }
  .top-container{
        width:200px;
        height:200px;
        border:solid;
        border-width:10px;
        padding: 20px;
        background-color: orange;      }
  .middle-container{
    width:200px;
    height:200px;
    border:solid;
    background:white;
    
    border-width:20px;
    margin-left:260px
}
.bottom-container{
  width:200px;
  height:200px;
  border:solid;
  background: green;
  
  border-width:10px;
  margin-left:500px
}